<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirmation de participation à l'événement</h1>
    <p>
      Nous avons bien reçu ton inscription à l'événement
    </p>
    <p>
      Pour accéder à l'événement en question, tu peux aller dans la rubrique "event" de ton profil :
    </p>
    <p> À très vite sur Eventbrite !
  </body>
</html>