<section class=vh>
  <div class="container text-center">
    <h1>Le paiement n'a pas pu aboutir</h1>
  </div> 
  <div class="container text-center">
    <a href="/events" class="btn btn-primary btn_primary">Retourner à l'accueil</a>
  </div>
</section>