 <header class="header_2">
        <nav class="navbar navbar-expand-lg">
            <div class="inline space_between">
                <div class=inline>
                    <a class="logo" href="/">Eventbrite</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class=inline>
                            <a class="a_nav" href="/events/new">Créer un événement</a>
                        </div>
                    </div>
                </div>
                
                    <%if user_signed_in?%>
                    <div class="dropdown">
                        <button class="btn btn_nav dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mon compte
                        </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item btn" href="/users/<%= current_user.id%>">Profil</a>
                                <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, class:"dropdown-item btn" %>

                            </div>
                    <%else%>
                    <div class=inline>
                        <%= link_to "S'inscrire", new_user_registration_path, class:"btn_nav btn"%>
                        <%= link_to "Se connecter", new_user_session_path, class:"btn_nav btn" %>
                    </div>
                    <%end%>
                </div>
            </div>
        </nav>
    </header>