<section class="column_section_accueil">
      <div class=image_presentation>
      </div>
      <div class="presentation_index">
        <h1 class="color_font">Titre sur une ou deux lignes</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
      </p>
      <a href="#" class="btn btn-primary btn_primary">En savoir plus</a>
    </div>
    </section>
    <section class="background_section">
      <div class="inline_valeurs">
      <div class="valeurs">
        <div class="icone_valeur"></div>
        <h2 class="white valeurs_title">Valeur 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
      </div>
      <div class="valeurs">
        <div class="icone_valeur"></div>
        <h2 class="white valeurs_title">Valeur 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      </div>
      <div class="valeurs">
        <div class="icone_valeur"></div>
        <h2 class="white valeurs_title">Valeur 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      </div>
    </div>
    </section>