/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.cards {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

body {
  --secondary_color: #7a5ff4;
  --font-size: 1.2rem;
  font-size: var(--font-size);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.form_devise {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 5rem;
}

.section_center {
  align-items: center;
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  color: #0e173e;
  font-size: 2.5rem;
}

.white {
  color: #f0f1f6;
  margin-bottom: 2rem;
}

h2 {
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  color: #0e173e;
  font-size: 1.5rem;
}

.color_font {
  color: #0e173e;
}

header {
  background-color: #0e173e;
  padding-left: 2rem;
  padding-right: 2rem;
  font-style: italic;
}

p {
  padding: 0px;
  margin: 0px;
}

.space_between {
  justify-content: space-between;
  width: 100%;
}

.description {
  height: 100px;
}

.a_nav {
  color: #f0f1f6;
  text-decoration: none;
  font-size: var(--font-size);
  margin-left: 1rem;
}

.a_nav:hover {
  color: var(--secondary_color);
}

.btn_second:hover {
  background-color: var(--secondary_color);
  color: #f0f1f6;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: white;
}
.dropdown-item {
  color: #0e173e;
}

a {
  text-decoration: none;
  color: #f0f1f6;
}

.event_title {
  margin: 0px;
}

.forms_gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
}

.citation {
  font-style: italic;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.btn_nav {
  background-color: none;
  text-decoration: none;
  padding: 0.2rem 0.5rem 0.2rem;
  border: 0.5px solid #f0f1f6;
  border-radius: 4px;
  color: #f0f1f6;
  font-size: 1rem;
  font-style: normal;
}

.btn_primary {
  background-color: var(--secondary_color);
  text-decoration: none;
  padding: 0.2rem 0.5rem 0.2rem;
  border: none;
  border-radius: 4px;
  color: #f0f1f6;
  font-size: 1rem;
  font-style: normal;
}

.price {
  border-bottom: 1.5px solid var(--secondary_color);
  width: min-content;
  color: #0e173e;
  font-weight: 700;
  font-size: 1.8rem;
  height: fit-content;
}

.btn_second {
  background-color: #0e173e;
  text-decoration: none;
  padding: 0.2rem 0.5rem 0.2rem;
  border: none;
  border-radius: 4px;
  color: #f0f1f6;
  font-size: 1rem;
  font-style: normal;
}

.color_card {
  background-color: none;
  border: 0.5px solid #0e173e;
  color: #0e173e;
}

i {
  font-size: 1.8rem;
}

.btn_primary:hover {
  background-color: #0e173e;
}

.btn_nav:hover {
  border: 0.5px solid var(--secondary_color);
  border-radius: 0px;
  color: var(--secondary_color);
}

.hero_section {
  background-color: #0e173e;
}

.logo {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  color: var(--secondary_color);
  font-size: 2rem;
}

.infos_accueil {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  background-color: #0e173e;
  color: #f0f1f6;
  padding: 0.2rem 0.5rem 0.2rem;
  border-radius: 999px;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.price_plus {
  margin-top: 1rem;
}
.small_icone {
  font-size: 0.6rem;
}

.inline {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.margin_bottom {
  margin-bottom: 0.5rem;
}


.vh{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.plus_icone {
  background-color: var(--secondary_color);
  text-decoration: none;
  padding: 0.2rem 0.5rem 0.2rem;
  border: none;
  border-radius: 999px;
  color: #f0f1f6;
  font-size: 0.8rem;
  font-style: normal;
  width: 3rem;
  height: 3rem;
}

.plus_icone:hover {
  background-color: #0e173e;
}

.flex_column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
