<footer class="footer_absolute">
  <div class="space_footer">
    <div class="space_content_footer">
      <p class="logo" href="index.html">Eventbrite</p>
    </div>
    <div class="separateur_footer"></div>
    <div class="inline_footer">
        <i class="bi bi-envelope small_icone"></i>email@email.com
      </div>
      <div class="separateur_footer"></div>
      <div class="inline_footer">
        <i class="bi bi-telephone small_icone"></i>00 00 00 00 00
      </div>
  </div>
</footer>